@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&display=swap');

/*========= 現在地表示のためのCSS ===============*/

#header{
  position: fixed;/*header固定*/
  height: 70px;/*Headerの高さ設定*/
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#333333;
  color:#ffffff;
  text-align: center;
}
html{
  font-size: 10px;
  font-family: 'M PLUS 1p', sans-serif;
}
body{
  font-size: 1.6em;
  margin:0px;
  background-color: #fff0d3; 
}
main{
  color:#333333;
}
h1{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size:2rem;
  margin-left: 3.2rem;
}
h2{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size:8rem;
  color:#ffffff;
  text-align:center;
}
@media screen and (max-width: 623px) {
  h2{
    font-size: 6rem;
  }
}
@media screen and (max-width: 400px) {
  html{
    font-size: 6px;
  }
}
h3{
  font-size:5rem;
  text-align: center;
  margin: 0 0 30px 0;
}
h4{
  font-size:2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  font-size:1.6rem;
  margin-top:1.25rem;  
}
div.header{
  margin-top: 70px;
}
.container{
  height: 250px;
  background-image: url(../img/header.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  place-items: center;
}
.box{
  margin: auto;
}
footer nav,
small{
  background:#333333;
  color:#ffffff;
  display: block;
  text-align: center;
  padding:5px;
}
footer nav ul a{
  font-size:1.6rem;
  padding-inline-start: 0px;
  color:#ffffff;
  display: block;
  text-decoration: none;
  padding:10px;
}
#g-nav{
  font-size:1.6rem;
  margin-right: 2rem;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
footer ul{
  padding-inline-start: 0px;
}

#g-nav ul li a{
  display: block;
  text-decoration: none;
  color: #666666;
  padding:10px;
  transition:all 0.3s;
}

#g-nav ul li.current a,
#g-nav ul li a:hover{
  color:#ffffff; 
}
@media screen and (max-width:768px) {
  #g-nav ul li a:hover{    
    color: #666666;
  }
  #g-nav ul li.current a {
    color:#ffffff; 
  }
}

section{
  padding:30px;
}

section:nth-child(1){
  padding:100px 30px 30px;  
}

section:nth-child(2n){
  background:#fff7e7; 
}
.header section{
  padding:30px;
}
@media screen and (max-width: 511px) {
  h1{
    font-size: 1rem;
  }
}
.profile::before{
  background-image: url("../img/icon/Large/id-card.svg");
}
.skills::before{
  background-image: url("../img/icon/Large/macbook-pro.svg");
}
.works::before{
  background-image: url("../img/icon/Large/file-2.svg");
}
.contact::before{
  background-image: url("../img/icon/Large/envelope.svg");
}
.icon{
  padding: 0rem 1.6rem 0rem;
  display: inline;
  align-items: center;
  vertical-align: middle;
}
.icon::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

a.return_btn{
  /*丸の基点とするためrelativeを指定*/
position: relative;
  /*ボタンの形状*/  
  display: inline-block;
padding:0 0 0 15px;
line-height: 50px;
  color: #333;
  text-decoration: none;
  outline: none;
}

/* 丸が動く */
a.return_btn::before{
content:'';
  /*絶対配置で丸の位置を決める*/
position:absolute;
left:0;
z-index: -1;
  /*丸の形状*/
width:50px;
height:50px;
background:#ccc;
border-radius:25px;
  /*アニメーションの指定*/
  transition:.3s ease-out;
}

/*hoverした際の形状*/
a.return_btn:hover::before{
width:212px;
}

/* 矢印の形状 */
a.return_btn::after{
  position: absolute;
    content: '';
    top: 1.3em;
    right: -15px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
}

#thanks{
  vertical-align:middle; 
  padding: 100px 0;
  text-align: center;
}

